@model List<GDA.Domain.ViewModel.StudentViewModel>
@{
    ViewData["Title"] = "Estudantes";
    Layout = "_Layout";
}

<div class="row" id="viewStudent">
    <div class="card text-white bg-dark" id="card-student">
        <div class="card-header">
            <a type="button" href="/Student/New" id="btn-new" class="btn">Cadastrar Estudante</a>
        </div>
        <div class="card-body">
            <table class="table table-dark table-striped" id="table-student">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Turma</th>
                        <th scope="col">Contato Principal</th>
                        <th scope="col">Responsável</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">CPF</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                        <tr>
                            <td>Sem Estudantes Cadastrados.</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.SchoolClass</td>
                                <td>@item.ContactNumberMain</td>
                                <td>@item.Responsible</td>
                                <td>@item.BirthDate</td>
                                <td>@item.CPF</td>
                                <td>
                                    <div class="m-1">
                                        <button class="btn btn-outline-secondary" v-on:click="showModal('modalStudentEdit');" title="Editar Cadastro Estudante" type="button" id="buttonEditStudent"><i class="fas fa-edit"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <partial name="~/Views/Modals/ModalStudentEdit.cshtml" />
    <partial name="~/Views/Modals/ModalStudentSearch.cshtml" />
</div>

<script src="~/js/Student/Student.js"></script>